<?xml version="1.0" encoding="utf-8" ?>
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <!-- Wipe Temp folders in the root of the windows drive -->
      <Folder path="#SYSDRIVE#\Tmp" exclude=".*\\CitrixCseCache\\.*" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <Folder path="#SYSDRIVE#\Temp" exclude=".*\\CitrixCseCache\\.*" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <!-- Wipe the Windows Temp folder -->
      <Folder path="#WINDIR#\Temp" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <!-- User temp folders - W2K8 syntax -->
      <Folder path="#USERSDIR#\*\AppData\*\Temp*" >
        <File name="*" age="2" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
