<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="applicationSettings" type="Total.WinFCU.LoadConfiguration" />
  </configSections>

  <!-- .Net supported runtime -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <!-- WinFCU log4net settings -->
  <log4net configSource="log4net.config" />

  <!-- WinFCU application settings comment="main config only" -->
  <applicationSettings >
    <!-- WinFCU runtime option -->
    <RunOptions debug="false" dryrun="false" parallelschedules="false" />

    <!-- WinFCU default settings - these can be overridden at folders, folder and/or file level -->
    <Defaults age="10" check="modified" recursive="false" schedule="#ALL#" system=".*" processHiddenFiles="true" deleteEmptyFolders="false" forceOverWrite="false" archivePath="relative" />

    <!-- WinFCU include files - by default all *.config files are used -->
    <includeFiles>
      <add path="include\WinFCU_*.config" />
    </includeFiles>

  <!-- WinFCU application settings comment="can occur in multiple (include) configs" -->

    <!-- Restricted Paths - some paths like C:\, C:\Windows, etc you dont qant to be cleaned -->
    <!-- Add here the additional paths of your choice  -->
    <restrictedPaths>
      <add path="C:\DoNotClean" />
    </restrictedPaths>

    <!-- User defined keywords - value is a PowerShell expresssion/variable -->
    <keyWords>
      <add key="@ComSpec@" value="$env:ComSpec" description="Environment variable pointing to the command line interpreter" />
      <add key="@MFSD@" value="(Get-PSDrive -PSProvider FileSystem | Sort-Object Free | Select-Object -Last 1 -ExpandProperty Name)+':'" description="Get FileSystem drive with most free space" />
    </keyWords>

    <!-- When WinFCU runs as a service one or more schedules are required -->
    <schedules>
      <add name="Daily" day="everyday" start="00:10" strict="false" />
    <!-- <add name="Desktop" day="everyday" start="08:00" interval="02:00" end="18:00" /> -->
    </schedules>

    <!-- Cleanup the WinFCU log folder -->
    <Folders schedule="Daily" >
      <Folder path="#FCULOGDIR#" >
        <File name="*.log" age="5"  action="Archive" target="WinFCU_#FCMONTH#.zip" />
        <File name="WinFCU_*.zip" age="90" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>